{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Usuário</title>
        <link rel="stylesheet" href="{% static 'css/minha_conta.css' %}" />
    </head>
    <body>
        <div id="loader">
            <div class="loader"></div>
        </div>
        <div class="content">
            {% include 'base.html' %}
            <div class="conta">
                <h2>Usuário</h2>
                <p><strong>Nome:</strong> {{ nome }}</p>
                <p><strong>E-mail:</strong> {{ email }}</p>
                <p><strong>Telefone:</strong> {{ telefone }}</p>
                <div class="link-reserva">
                    <a href="{% url 'home_reservas' %}" class="link-hospedagem"
                        >Verifique sua reserva</a
                    >
                </div>
            </div>
        </div>
        <script type="module" src="{% static 'js/script.js' %}"></script>
    </body>
</html>
